<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>administar</title>
    </h:head>
    <h:body>
       <table width="100%" border="2" align="center" cellpadding="10" cellspacing="10" bordercolor="#000000">
      <tr>
          <center>Preguntas</center>
      </tr>
</table>
        <table width="30%" border="2" align="center" cellpadding="20" cellspacing="25" bordercolor="#000000">  
     <br/>
     
      <p align="center"><input type="text" placeholder="escribir la pregunta" size="20"></input></p> 
        
        
      <p align="center"><button onclick="location.href='correcto.xhtml'">Añadir</button></p>
      
      
       
            <p>1...¿Que es Lengua?</p>
    <input type="checkbox" name="si" value="1"> si </input>
    
    <p>2...Seleccione una obra....</p>
    <input type="checkbox" name="lenguaje" value="2"> si </input>
    
    <p>3...¿Que es Diptongo?</p>
    <input type="checkbox" name="lenguaje" value="1"> esa es </input>
    
    <p>4...¿Que es un Trintongo?</p>
    <input type="checkbox" name="lenguaje" value="1"> esa es </input>
    
    <p>5...Seleccione el autor de la obra Don Quijote de la mancha....</p>
      <input type="checkbox" name="lenguaje" value="1"> esa es </input>
      
      <p>6...¿Qué es silaba?.</p>
      <input type="checkbox" name="lenguaje" value="1"> esa es </input>
      
     
     
       <p align="center"><button onclick="location.href='Borrada.xhtml'">Borrar</button></p>
       </table>
        <br></br>
    </h:body>
</html>

