<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Borrada</title>
    </h:head>
    <h:body>
       <table width="50%" border="2" align="center" cellpadding="20" cellspacing="25" bordercolor="#000000">
      <tr>
          <center>Su pregunta fue Borrada con exito</center>
      </tr>
</table>
        <a href="administrar preguntas.xhtml"><p:button value="regresar"/></a>
    </h:body>
</html>

