<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>INICIO</title>

        <link rel="stylesheet" type="text/css" href="css/estilo.css"/>
    </h:head>
     <h:body>
<center>
        <table border="15"> 
            <tr>
                <td>
                     <center>
       <h1>CREAR USUARIO</h1>
       <p> Nombre: <input Type="text"  name="nombre" Placeholder="escribe tu nombre"></input></p>
       <p> Apellido:<input Type="text" name="apellido" placeholder="escribe tu apellido"></input></p>
       <p> Cedula:   <input Type="text"  name="cedula" placeholder="escribe tu numero de id"></input></p>
       <p> Curso:    <input Type="text"  name="curso" placeholder="escribe tu paralelo"></input></p>
       <a href="principal.xhtml"><input type="submit" value="ACCEPTAR Y CREAR" name="acceptar y crear"/></a>
       <a href="index.xhtml"><input type="reset" value="REGRESAR" name="REGRESAR"/></a>
       <a href="administrar preguntas.xhtml"> solo para profesores</a>
                     </center>
                    </td>
            </tr>
            
            </table>
            </center>
    </h:body>
</html>
