<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Primera página</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <center>
            <table border="10">
                <tr>
                    <td>
                        <h:form>
                            <center>
                                <img src="img/PSA3.png" width="200" height="190" alt="U.E.B Pablo Sanford A"/>
                            </center>
                            <center>
                                <br/>
                                Username: <br/><h:inputText id="ipTxt1" value="#{user.name}"/><br/><br/>
                                Password: <br/><h:inputSecret id="isec" value="#{user.password}"/><br/>
                                <br/>
                                <h:commandButton id="cBtn2" value="Ingresar" action="Second"/><br/>
                                <br/><h:commandButton id="cBtn3" value="Crear Usuario" action="Crear usuario"/>
                                <br/><br/>
                            </center>
                        </h:form>
                    </td>
                </tr>
            </table>
        </center>
    </h:body>





</html>


