<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Test</title>

    </h:head>
    <h:body>
        <form name="principal_2">
            <center>
                <br><p>2...Seleccione una obra....</p></br>
                <br><input type="radio" name="pregunta_2" >a)El chavo del ochoe </input></br>
                <br><input type="radio" name="pregunta_2" >b)San Agustin </input></br> 
                <br><input type="radio" name="pregunta_2" >c)La odisea</input></br>
                <br></br>
                <table border="10" width="500"> 
                    <tr>
                        <td>
                            <center>
                                1
                            </center>
                        </td>
                        <td>
                            <center>
                                2
                            </center>
                        </td>
                        <td>
                            <center>
                                3
                            </center>
                        </td>
                        <td>
                            <center>
                                4
                            </center>
                        </td>
                        <td>
                            <center>
                                5
                            </center>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <center>
                                6
                            </center>
                        </td>
                        <td>
                            <center>
                                7
                            </center>
                        </td>
                        <td>
                            <center>
                                8
                            </center>
                        </td>
                        <td>
                            <center>
                                9
                            </center>
                        </td>
                        <td>
                            <center>
                                10
                            </center>
                        </td>   
                    </tr>
                </table>

            </center>

            <a href="principal.xhtml"><p:button value="atras"/></a>
            <a href="principal3.xhtml"><p:button value="siguiente"/></a>


        </form>
    </h:body>
</html>     