<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Test</title>
    </h:head>
    <h:body>
        <from>
            <center>
                <br><p>6...¿Qué es silaba?.</p></br>
                Es el <input type="text"/>de letras que se <input type="text"/>juntas en una 
                sola<input type="text"/>de voz.    

                <p>a)Emsión</p>
                <p>b)Conjunto</p>
                <p>c)Pronuncian</p>
                <br></br>
                                <table border="10" width="500"> 
                    <tr>
                        <td>
                            <center>
                                1
                            </center>
                        </td>
                        <td>
                            <center>
                                2
                            </center>
                        </td>
                        <td>
                            <center>
                                3
                            </center>
                        </td>
                        <td>
                            <center>
                                4
                            </center>
                        </td>
                        <td>
                            <center>
                                5
                            </center>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <center>
                                6
                            </center>
                        </td>
                        <td>
                            <center>
                                7
                            </center>
                        </td>
                        <td>
                            <center>
                                8
                            </center>
                        </td>
                        <td>
                            <center>
                                9
                            </center>
                        </td>
                        <td>
                            <center>
                                10
                            </center>
                        </td>   
                    </tr>
                </table>
            </center>
            <a href="principal5.xhtml"><p:button value="atras"/></a>
            <a href="principal7.xhtml"><p:button value="siguiente"/></a>
        </from>
    </h:body>
</html>

