<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Test</title>

    </h:head>
    <h:body>
        <form name="principal">
            <center>
                <h1>Quiz de Lengua y Liteartura</h1>

                <p>1...¿Que es Lengua?</p>
                <br><input type="radio" name="pregunta_1" >a)es un sistema de comunicación </input></br>
                <br><input type="radio" name="pregunta_1" >b)es un sistema de lenguajes </input></br> 
                <br><input type="radio" name="pregunta_1" >c)es un sistema de interacción </input></br> 
                <br></br>
                <table border="10" width="500"> 
                    <tr>
                        <td>
                            <center>
                                1
                            </center>
                        </td>
                        <td>
                            <center>
                                2
                            </center>
                        </td>
                        <td>
                            <center>
                                3
                            </center>
                        </td>
                        <td>
                            <center>
                                4
                            </center>
                        </td>
                        <td>
                            <center>
                                5
                            </center>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <center>
                                6
                            </center>
                        </td>
                        <td>
                            <center>
                                7
                            </center>
                        </td>
                        <td>
                            <center>
                                8
                            </center>
                        </td>
                        <td>
                            <center>
                                9
                            </center>
                        </td>
                        <td>
                            <center>
                                10
                            </center>
                        </td>   
                    </tr>
                </table>
            </center>       

            <p><a href="principal2.xhtml"><p:button value="siguiente"/></a></p>
        </form>
    </h:body>
</html>
