<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Test</title>s  
    </h:head>
    <h:body>
        <from>
            <center>
                <p>3...¿Que es Diptongo?</p>
                <br><input type="radio" name="pregunta_3" >a)es una cadena  que consiste 
                        en articulaciones sonoras  de   dos vocales.</input></br>
                <br><input type="radio" name="pregunta_3" >b)es una cadena sonora que consiste 
                        en la articulación de dos vocales.</input></br> 
                <br><input type="radio" name="pregunta_3" >c)es una cadena de articulación
                        que une dos vocales.</input></br>
                <br></br>
                <table border="10" width="500"> 
                    <tr>
                        <td>
                            <center>
                                1
                            </center>
                        </td>
                        <td>
                            <center>
                                2
                            </center>
                        </td>
                        <td>
                            <center>
                                3
                            </center>
                        </td>
                        <td>
                            <center>
                                4
                            </center>
                        </td>
                        <td>
                            <center>
                                5
                            </center>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <center>
                                6
                            </center>
                        </td>
                        <td>
                            <center>
                                7
                            </center>
                        </td>
                        <td>
                            <center>
                                8
                            </center>
                        </td>
                        <td>
                            <center>
                                9
                            </center>
                        </td>
                        <td>
                            <center>
                                10
                            </center>
                        </td>   
                    </tr>
                </table>
            </center>

            <br></br>
            <a href="principal2.xhtml"><p:button value="atras"/></a>
            <a href="principal4.xhtml"><p:button value="siguiente"/></a>

        </from>
    </h:body>
</html>