<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>resultados</title>
        
    </h:head>
    <h:body>
        <h3> Resultados obtenidos por el estudiante</h3>
        <p> 7 de 10 </p>
        <a href="index.xhtml"><p:button value="salir"/></a>
    </h:body>
</html>

